@page "/"
@namespace PimFront.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIM Vitajardin — Référentiel Végétal</title>
    <base href="~/" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="PimFront.styles.css" />
</head>
<body>
    <component type="typeof(PimFront.App)" render-mode="ServerPrerendered" />
    <div id="blazor-error-ui">
        Une erreur inattendue s'est produite. <a href="" class="reload">Recharger</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
